@import "tailwindcss";

@theme {
  --color-base: #ffffff;
  --color-accent: #00a896;
  --color-accent-dark: #028090;
  --color-accent-darker: #03475e;
  --color-accent-light: #02c39a;

  --spacing: 5px;

  --font-kanit: "Kanit", serif;
}

@utility container {
  @apply max-w-screen-xl mx-auto w-full px-4 md:px-8 lg:px-10;
}

@utility glass-block {
  @apply bg-base/20 rounded-2xl shadow-xl backdrop-blur-2xl border border-solid border-base/30;
}

@layer base {
  /* reset */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :where(ul, ol):where([class]) {
    padding-left: 0;
  }

  body,
  :where(blockquote, figure):where([class]) {
    margin: 0;
  }

  :where(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl
  ):where([class]) {
    margin-block: 0;
  }

  :where(dd[class]) {
    margin-left: 0;
  }

  :where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
  }

  :where(ul[class]) {
    list-style: none;
  }

  p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
  }

  p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
  }

  img {
    display: block;
    max-width: 100%;
  }

  input,
  textarea,
  select,
  button {
    font: inherit;
  }

  html {
    height: 100%;
  }

  html,
  :has(:target) {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100%;
    line-height: 1.5;
  }

  svg *[fill] {
    fill: currentColor;
  }
  svg *[stroke] {
    stroke: currentColor;
  }

  svg * {
    transition-property: fill, stroke;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
